.box1 .box2 {
  color: red;
}
.box1 > .box3,
.p2 {
  color: aqua;
}
.box1 > .box3:hover {
  color: bisque;
}
.box1:hover {
  background-color: blue;
}
div .box1 {
  height: 200px;
}
.p1,
.p2 {
  width: 200px;
  height: 200px;
  background-color: aqua;
}
.p2 {
  font-size: 30px;
}
.p3 {
  width: 200px;
  height: 200px;
  background-color: aqua;
  color: green;
  width: 100px;
}
.p3 {
  width: 200px;
  height: 200px;
  background-color: aqua;
  color: green;
  width: 100px;
}
.p2 {
  width: 200px;
  height: 200px;
  background-color: aqua;
  color: green;
  width: 100px;
}
